* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container {
  margin-top: 145px;
  margin-left: 115px;
  text-align: center;
}

.content-description {
  margin-top: 40px;
  width: 90%;
  height: 100%;
}


.logo {
  margin: 85px 0 0 85px;
  width: 35%;
}

.middle-section {}

.mockup {
  width: 80%;
}

.mockup-container {
  margin-top: 150px;
  text-align: center;
}

.button-container {
  display: block;
  margin: 0 auto 0 120px;
  text-align: center;
}

.register-button {
  -webkit-border-radius: 100;
  -moz-border-radius: 100;
  border-radius: 100px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 6px 3px #403f40;
  font-family: Arial;
  color: #7a7a7a;
  font-size: 35px;
  background: #ffffff;
  padding: 35px 0 35px 0;
  text-decoration: none;
  width: 70%;
  margin: 60px 60px 0 0;
  display: block;
}

.register-button:hover {
  background: #e8e8e8;
  text-decoration: none;
}

.title-1 {
  width: 85%;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 150px;
  margin-left: 150px;

}

.social-buttons {
  margin-right: -40px;
  width: 80%;

}

body {
  background-color: #674BAF;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 63px;
  color: white;
  /* margin-left: 60px;
  margin-top: 60px; */
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 43px;
  line-height: 1.5;
  color: white;
}

/* tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {}

/* destop styles  */
@media only screen and (min-width: 961px) {}
